.text-vertical-center {
    text-align: center;
    vertical-align: middle;
}

.img-vertical-center{
    text-align: center;
    vertical-align: middle;
}


.love-sign-up-cover{
    margin-left: 20%;
    margin-right: 20%;
    height:inherit;
}

